

<h1> Dr. <%= @doctor.name%> </h1>

<h2> Name: <%= @doctor.name%> </h2>
<h2> Department: <%= @doctor.department%> </h2>

<h3> Appointments: </h3>
  <%= @doctor.appointments.each do |appointment|%>
  <%= link_to appointment.patient.name, patient_path(appointment.id)%>
  <%= appointment.appointment_datetime.strftime("%B") %>
  <%= appointment.appointment_datetime.day %>,
  <%= appointment.appointment_datetime.year %> at <%= appointment.appointment_datetime.strftime("%H:%M") %>.
<% end %>
